body {
  font-family: 'Grenze', 'Garamond', Times, serif;
}

h1, h2, h3, h4 {
  font-family: 'Grenze Gotisch', 'Exocet', serif;
}

a, Link {
  font-family: 'Grenze Gotisch';
  font-size: 1.25rem;
  text-decoration: none;
}

.card > .card-body > img {
  max-width: 100%;
  height: auto;
}

.character-card {
  margin: 2.5px;
}

.homepageCard{
  background-image: url("./imgs/diablo_homepage_card.jpg");
  height: 500px;
  max-height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(155, 154, 150);
}

.homeTitle {
  font-size: larger;
}

.splash {
  margin: 0 15% 6% 15%;
}