body {
  font-family: 'Grenze', 'Garamond', Times, serif;
  background-image: url("./imgs/background_textile.PNG");
  background-repeat: no-repeat;
  background-size: cover;
}

/*Text Styling*/

p, h1, h2, h3, h4 {
  font-family: 'Grenze Gotisch', 'Exocet', serif;
  color: silver;
}

/* Link Color*/
a, Link{
  font-family: 'Grenze Gotisch';
  font-size: 1.25rem;
  text-decoration: none;
  color: rgb(155, 15, 15);
}

a.navWork {
  color: rgb(155, 15, 15);
}

.card > .card-body > img {
  max-width: 100%;
  height: auto;
  justify-self: center;
}

.character-card {
  margin: 2.5px;
}

/*Jumbotron styling*/

.jumbotron {
  background-image: url("./imgs/diablo_face.jpg");
  background-position: right;
  background-size: cover;
}

/*Button styling*/

.btn{
  align-items: center;
}

.characterImg{
  width: 10%;
  max-width: 100%;
  justify-self: center;
}



.equipment {
  content: "";
  background-image: url("./imgs/equipment_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .5;
}

