body {
  font-family: 'Grenze', 'Garamond', Times, serif;
}

h1, h2, h3, h4 {
  font-family: 'Grenze Gotisch', 'Exocet', serif;
}

a, Link {
  font-family: 'Grenze Gotisch';
  font-size: 1.25rem;
  text-decoration: none;
}

.card > .card-body > img {
  max-width: 100%;
  height: auto;
}

.character-card {
  margin: 2.5px;
}